{% extends "base/template.html.twig" %}

{% block content %}
<div class="row">
  {% for event in events %}
    <div class="col s12 m6 l4">
      <div class="card cyan darken-2">
        <div class="card-content white-text">
          <span class="card-title activator truncate">{{ event.name }}</span>
          <p>{{ event.date|date("d") }}, {{ event.date|date("M") }} {{ event.date|date("Y") }} @ {{ event.place }}</p>
          <p class="truncate">{{ event.description }}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Stats<i class="material-icons right">close</i></span>
          <p>Attending: {{ event.attending }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
