{% extends "base/template.html.twig" %}

{% block content %}
<div class="row">
   <div class="col s12">
     <ul class="tabs">
       <li class="tab col s6"><a href="#users">Usuarios</a></li>
       <li class="tab col s6"><a href="#events">Eventos</a></li>
     </ul>
   </div>
   <div id="users" class="col s12">
     {% for user in users %}
       <div class="col s12 m4 l4">
         <div id="profile-card" class="card">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/web/img/user-bg.jpg" alt="user bg">
           </div>
           <div class="card-content">
             <img src="{{user.picture}}" alt="" class="circle responsive-img activator card-profile-image">
             <a href="/dashboard/user/{{user.id}}"><span class="card-title activator grey-text text-darken-4">{{ user.first_name }} {{ user.last_name }}</span></a>
             <p><i class="mdi-action-perm-identity"></i> {{ user.role }}</p>
             <p><i class="mdi-communication-email"></i> {{ user.email }}</p>
           </div>
         </div>
       </div>
     {% endfor %}
   </div>
   <div id="events" class="col s12">
     {% for event in events %}
       <div class="col s12 m4 l4">
         <div id="profile-card" class="card">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/web/img/user-bg.jpg" alt="event bg">
           </div>
           <div class="card-content">
             <!--<img src="{{event.picture}}" alt="" class="circle responsive-img activator card-profile-image">-->
             <a href="/dashboard/event/{{event.id}}"><span class="card-title activator grey-text text-darken-4">{{ event.name }}</span></a>
             <p><i class="material-icons left">web</i> {{ event.date|date("d") }}, {{ event.date|date("M") }} {{ event.date|date("Y") }} @ {{ event.place }}</p>
           </div>
         </div>
       </div>
     {% endfor %}
   </div>
</div>
{% endblock content %}
