{% extends "base/template.html.twig" %}

{% block content %}
<div class="row">
  {% for event in events %}
    <div class="col s12 m6 l4">
      <div class="card cyan darken-2">
        <div class="card-content white-text">
          <a href="/events/{{ event.id }}"><span class="card-title truncate">{{ event.name }}</span></a>
          <a class="btn-floating modal-trigger edit-trigger btn-move-up waves-effect waves-light darken-2 right" data-id="{{ event.id }}" href="#modalEditEvent">
            <i class="mdi-editor-mode-edit"></i>
          </a>
          <p class="truncate">{{ event.date|date("d") }}, {{ event.date|date("M") }} {{ event.date|date("Y") }} @ {{ event.place }}</p>
          <p class="truncate">{{ event.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red tooltipped modal-trigger" href="#modalNewEvent" data-position="left" data-delay="50" data-tooltip="Nuevo Evento">
      <i class="large material-icons">add</i>
    </a>
{#     <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul> #}
  </div>

  <!-- Modal Structure -->
  <div id="modalNewEvent" class="modal modal-fixed-footer">
    <form action="/events/new" method="POST">
      <div class="modal-content">
        <h4>Nuevo Evento</h4>
          <div class="row">
            <div class="input-field col s12">
              <input id="name" name="name" type="text" class="validate">
              <label for="name">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="place" name="place" type="text" class="validate">
              <label for="place">Lugar</label>
            </div>
            <div class="input-field col s12 m6">
              <input placeholder="Fecha" name="date" id="date" type="date" class="datepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="hidden" id="maplat" name="lat" value="0">
              <input type="hidden" id="maplon" name="lon" value="0">
              <button id="buscarMapa" class="waves-effect waves-light btn">MAPA</button>
              <div id="map" style="width:100%;height:200px;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" name="description" class="materialize-textarea"></textarea>
              <label for="description">Descripcion</label>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Crear</button>
      </div>
    </form>
  </div>

  <!-- Modal Structure -->
  <div id="modalEditEvent" class="modal modal-fixed-footer">
    <form action="/events/edit" method="POST">
      <div class="modal-content">
        <h4>Editar Evento</h4>
          <div class="row">
            <div class="input-field col s12">
              <input type="hidden" name="id" id="eid" value="">
              <input id="ename" name="name" type="text" class="validate">
              <label for="ename">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="eplace" name="place" type="text" class="validate">
              <label for="eplace">Lugar</label>
            </div>
            <div class="input-field col s12 m6">
              <input placeholder="Fecha" name="date" id="edate" type="date" class="datepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="hidden" id="emaplat" name="lat">
              <input type="hidden" id="emaplon" name="lon">
              <button id="ebuscarMapa" class="waves-effect waves-light btn">MAPA</button>
              <div id="emap" style="width:100%;height:200px;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="edescription" name="description" class="materialize-textarea"></textarea>
              <label for="edescription">Descripcion</label>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Editar</button>
        <a id="eborrar" href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Eliminar Evento</a>
      </div>
    </form>
  </div>
          
{% endblock content %}

{% block customjs %}
  <script>
  $(document).ready(function() {
    $(".edit-trigger").click(function() {
      $("#ename").val("");
      $("#eplace").val("");
      $("#edate").val("");
      $("#edescription").val("");
      $("#eborrar").attr("href", "");
      $("#emap").html();

      $.getJSON('/api/event/'+$(this).data("id"), function(json, textStatus) {
          var data = json.data[0];
          $("#ename").val(data.name);
          $("#eplace").val(data.place);
          $("#edate").val(data.date);
          $("#edescription").val(data.description);
          $("#eid").val(data.id);
          $("#eborrar").attr("href", "/events/delete/"+data.id);
          displayMap(data.place,"emap");
      });
    });

    $("#ebuscarMapa").click(function(event) {
      event.preventDefault();
      displayMap($("#eplace").val(),"emap");
    });

    $("#buscarMapa").click(function(event) {
      event.preventDefault();
      displayMap($("#place").val(),"map");
    });


    function displayMap(data, id)
    {
      var myLatlng;
          var place = data;
          var geocoder =  new google.maps.Geocoder();
          geocoder.geocode( { 'address':  place}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                document.getElementById(id+"lat").value = results[0].geometry.location.lat();
                document.getElementById(id+"lon").value = results[0].geometry.location.lng();
                console.log(id+"lat="+document.getElementById(id+"lat").value+ ", "+id+"lon=" +document.getElementById(id+"lon").value);
                myLatlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                var mapOptions = {
                  zoom: 15,
                  center: myLatlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById(id), mapOptions);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    title:place
                });

                // To add the marker to the map, call setMap();
                marker.setMap(map);
            }else{
              alert("Ubicacion no encontrada");
            }
          });
    }
  });

  </script>
{% endblock customjs %}