{% extends "base/template.html.twig" %}

{% block content %}
<div class="row">
  {% for event in events %}
    <div class="col s12 m6 l4">
      <div class="card cyan darken-2">
        <div class="card-content white-text">
          <a href="/events/{{ event.id }}"><span class="card-title truncate">{{ event.name }}</span></a>
          <p>{{ event.date|date("d") }}, {{ event.date|date("M") }} {{ event.date|date("Y") }} @ {{ event.place }}</p>
          <p class="truncate">{{ event.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red tooltipped modal-trigger" href="#modalNewUser" data-position="left" data-delay="50" data-tooltip="Nuevo Evento">
      <i class="large material-icons">add</i>
    </a>
{#     <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul> #}
  </div>

  <!-- Modal Structure -->
  <div id="modalNewUser" class="modal modal-fixed-footer">
    <form action="/events/new" method="POST">
      <div class="modal-content">
        <h4>Nuevo Evento</h4>
          <div class="row">
            <div class="input-field col s12">
              <input id="name" name="name" type="text" class="validate">
              <label for="name">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="place" name="place" type="text" class="validate">
              <label for="place">Lugar</label>
            </div>
            <div class="input-field col s12 m6">
              <input placeholder="Fecha" name="date" id="date" type="date" class="datepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" name="description" class="materialize-textarea"></textarea>
              <label for="description">Descripcion</label>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Crear</button>
      </div>
    </form>
  </div>
          
{% endblock content %}
