{% extends "base/template.html.twig" %}

{% block content %}
    <main>
      <div class="row" style="">
        <div class="col s12 m4 center">
          <div class="col s12">
            <h5>Welcome</h5>
          </div>
          <div class="col s12">
             <img class="materialboxed" width="150" src="{{picture}}">
          </div>
          <div class="col s12">
            <a class="modal-trigger" href="#pictureModal">Cambiar pic</a>
          </div>
        </div>
        <div class="col s4">
          <table>
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>Nombre:</td>
                <td>{{firstName}} {{lastName}}</td>
              </tr>
              <tr>
                <td>E-mail:</td>
                <td>{{email}}</td>
              </tr>
              <tr>
                <td>Compañia:</td>
                <td>{{company}}</td>
              </tr>
              <tr>
                <td>Tamaño camiseta:</td>
                <td>{{tShirtSize}}</td>
              </tr>
              <tr>
                <td>Preferencias de Comida:</td>
                <td>{{foodPreference}}</td>
              </tr>
              <tr>
                <td>Necesidades Especiales:</td>
                <td>{{specialNeeds}}</td>
              </tr>
              <tr>
                <td>
                  <a class="waves-effect waves-light btn modal-trigger" href="#editModal"><i class="material-icons left">mode_edit</i>Editar perfil </a>
                </td>
                <td>
                  <a class="waves-effect waves-light btn modal-trigger" href="#passwordModal">Cambiar contraseña </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <!-- Edit Modal Space -->
    <div id="editModal" class="modal">
    <div class="modal-content">
      <form id="editForm" action="/profile/edit" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input name="firstName" id="firstName" type="text" class="validate" value="{{firstName}}" required>
            <label for="firstName">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input name="lastName" id="lastName" type="text" class="validate" value="{{lastName}}" required>
            <label for="lastName">Apellidos</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" value="{{email}}" required>
            <label for="email">E-mail</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="company" id="company" type="text" class="validate" value="{{company}}">
            <label for="company">Compañia</label>
          </div>
          <div class="input-field col s6">
            <select name="tShirtSize" id="tShirtSize">
              <option {% if tShirtSize == "Small"%} selected {% endif %} value="Small">Chica</option>
              <option {% if tShirtSize == "Medium"%} selected {% endif %} value="Medium">Mediana</option>
              <option {% if tShirtSize == "Large"%} selected {% endif %} value="Large">Grande</option>
              <option {% if tShirtSize == "X-Large"%} selected {% endif %} value="X-Large">X-Grande</option>
              <option {% if tShirtSize == "XX-Large"%} selected {% endif %} value="XX-Large">XX-Grande</option>
            </select>
            <label>Tamaño camiseta</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="foodPreference" id="foodPreference" class="materialize-textarea" length="120">{{foodPreference}}</textarea>
            <label for="foodPreference">Preferencias de Comida</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="specialNeeds" id="specialNeeds" class="materialize-textarea" length="120">{{specialNeeds}}</textarea>
            <label for="specialNeeds">Necesidades Especiales</label>
          </div>
        </div>
        <input type="hidden" name="_METHOD" value="PUT"/>
        <button class="btn waves-effect waves-light" type="submit">Actualizar
         <i class="material-icons right">save</i>
      </form>
    </div>
  </div>

  <div id="pictureModal" class="modal">
    <div class="modal-content">
      <h4 class="center">Upload a new picture!</h4>
      <form action="/profile/pic" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input name="image" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" required>
          </div>
        </div>
        <p>Formatos soportados: jpeg, jpg, png</p>
        <p>Dimensiones sugeridas: 512 x 512, 256 x 256</p>
        <button class="btn waves-effect waves-light" style="float:right" type="submit">Upload
         <i class="material-icons right">archive</i>
      </form>
    </div>
  </div>
  <!-- Edit Modal Space -->
  <div id="passwordModal" class="modal">
    <div class="modal-content">
      <h4 class="center">Cambiar contraseña</h4>
      <form action="" onsubmit="submitPassword()">
      <div class="input-field col s12">
        <input id="oldpassword" type="password" class="validate" required>
        <label for="password">Contraseña actual</label>
      </div>
      <div class="input-field col s12">
        <input id="newpassword" type="password" class="validate" required>
        <label for="password">Nueva contraseña</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" style="float:right">Submit
       <i class="material-icons right">done</i>
     </form>
    </div>
  </div>
  {% endblock content %}
  {% block customjs %}
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('select').material_select();
      });
      function submitPassword() {
        var pwd1 = document.getElementById('oldpassword').value;
        var pwd2 = document.getElementById('newpassword').value;
        var call = $.ajax({
          url: '/profile/changepwd',
          method: 'POST',
          data: { oldPassword: pwd1, newPassword: pwd2},
          dataType: 'html',
          complete: function (xhr, status) {
            if(xhr.responseText == "Failure")
              alert("Contraseña actual incorrecta!")
            else {
              alert("Contraseña actualizada")
            }
          }
        });
        $('#passwordModal').closeModal();
      }
    </script>
  {% endblock %}
