<html>
  <head>
    <title>Eventos - ITESM</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../web/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
      main, footer {
        padding-left: 240px;
      }
    </style>
    <meta charset="UTF-8"></meta>
  </head>
  <body class="white">
    <header>
      <nav class="top-nav teal lighten-2">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full show-on-large"><i class="mdi-navigation-menu"></i></a>
        <div class="container">
          <div class="nav-wrapper"><a class="brand-logo center">Profile</a></div>
        </div>
      </nav>
      <ul id="slide-out" class="side-nav">
        <li class="active"><a href="../profile"> <i class="small mdi-action-account-circle left"></i> Profile</a></li>
        <li><a href="../chat"><i class="small mdi-communication-chat left"></i>Inbox</a></li>
        <li><a href="../lista_eventos.html"><i class="small mdi-action-dashboard left"></i>Lista Eventos</a></li>
        <li><form action="" method="POST">
                    <input type="hidden" name="_METHOD" value="DELETE" />
                    <button type="submit" name="action" class="waves-effect waves-teal btn-flat">Delete Profile
                    </button>
                  </form></li>
        <li><a href="../logout" class="waves-effect waves-light btn black-text grey">logout</a></li>
      </ul>
    </header>

      <div class="row" style="margin-top: 30px;">
        <div class="col s12 m6 center">
          <div class="col s12 m6 offset-m6 offset-l6">
             <img class="materialboxed" width="150" src="{{picture}}">
          </div>
          <div class="col s12 m6 offset-m6 offset-l6">
            <a class="modal-trigger" href="#pictureModal">Edit Photo</a>
          </div>
        </div>
        <div class="col s12 m6">
          <table>
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>Name:</td>
                <td>{{firstName}} {{lastName}}</td>
              </tr>
              <tr>
                <td>E-mail:</td>
                <td>{{email}}</td>
              </tr>
              <tr>
                <td>Company:</td>
                <td>{{company}}</td>
              </tr>
              <tr>
                <td>T-Shirt Size:</td>
                <td>{{tShirtSize}}</td>
              </tr>
              <tr>
                <td>Food Preference:</td>
                <td>{{foodPreference}}</td>
              </tr>
              <tr>
                <td>Special Needs:</td>
                <td>{{specialNeeds}}</td>
              </tr>
              
              <tr>
                <td>
                  <a class="waves-effect waves-light btn modal-trigger" href="#editModal"><i class="material-icons left">mode_edit</i>Editar perfil </a>
                </td>
                <td>
                  <a class="waves-effect waves-light btn modal-trigger" href="#passwordModal">Cambiar contraseña </a>
                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <h5 class="center">Calendario</h5>
        <div class="col s12 m12 l6 offset-l3" id="calendar">
        </div>
      </div>

    <!-- Edit Modal Space -->
    <div id="editModal" class="modal">
    <div class="modal-content">
      <form id="editForm" action="/profile/edit" method="post">
        <div class="row">
          <div class="input-field col s12 m6">
            <input name="firstName" id="firstName" type="text" class="validate" value="{{firstName}}" required>
            <label for="firstName">First Name</label>
          </div>
          <div class="input-field col s12 m6">
            <input name="lastName" id="lastName" type="text" class="validate" value="{{lastName}}" required>
            <label for="lastName">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input name="email" id="email" type="email" class="validate" value="{{email}}" required>
            <label for="email">E-mail</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input name="company" id="company" type="text" class="validate" value="{{company}}">
            <label for="company">Company</label>
          </div>
          <div class="input-field col s12 m6">
            <select name="tShirtSize" id="tShirtSize">
              <option {% if tShirtSize == "Small"%} selected {% endif %} value="Small">Small</option>
              <option {% if tShirtSize == "Medium"%} selected {% endif %} value="Medium">Medium</option>
              <option {% if tShirtSize == "Large"%} selected {% endif %} value="Large">Large</option>
              <option {% if tShirtSize == "X-Large"%} selected {% endif %} value="X-Large">X-Large</option>
            </select>
            <label>T-Shirt Size</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <textarea name="foodPreference" id="foodPreference" class="materialize-textarea" length="120">{{foodPreference}}</textarea>
            <label for="foodPreference">Food Preference</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <textarea name="specialNeeds" id="specialNeeds" class="materialize-textarea" length="120">{{specialNeeds}}</textarea>
            <label for="specialNeeds">Special Needs</label>
          </div>
        </div>
        <input type="hidden" name="_METHOD" value="PUT"/>
        <button class="btn waves-effect waves-light" type="submit">Update profile
         <i class="material-icons right">save</i>
      </form>
    </div>
  </div>

    <!-- Edit Modal Space -->
    <div id="pictureModal" class="modal">
      <div class="modal-content">
        <h4 class="center">Upload a new picture!</h4>
        <form action="/profile/pic" method="POST" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input name="image" type="file" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <p>Supported formats: jpeg, jpg, png</p>
          <button class="btn waves-effect waves-light" style="float:right" type="submit">Upload
           <i class="material-icons right">archive</i>
        </form>
      </div>
      <br/>
    </div>
    <!-- Edit Modal Space -->
    <div id="passwordModal" class="modal">
      <div class="modal-content">
        <h4 class="center">Cambiar contraseña</h4>
        <div class="input-field col s12 m6">
          <input id="oldpassword" type="password" class="validate">
          <label for="password">Contraseña actual</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="newpassword" type="password" class="validate">
          <label for="password">Nueva contraseña</label>
        </div>
        <button class="btn waves-effect waves-light" style="float:right" onclick="submitPassword()">Submit
         <i class="material-icons right">done</i>
      </div>
      <br/>
    </div>
    <script src="../web/js/jQuery.min.js"></script>
    <script type="text/javascript" src="../web/js/materialize.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/lang/es.js'></script>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('select').material_select();
        $('.modal-trigger').leanModal({
         dismissible: true
        });
      });
      function submitPassword() {
        var pwd1 = document.getElementById('oldpassword').value;
        var pwd2 = document.getElementById('newpassword').value;
        if(pwd1 == '' || pwd2 == ''){
          alert("Campo vacío en la contraseña, favor de rellenar ambos campos");
        }
        else{
          var call = $.ajax({
            url: '/profile/changepwd',
            method: 'POST',
            data: { oldPassword: pwd1, newPassword: pwd2},
            dataType: 'html',
            complete: function (xhr, status) {
              if(xhr.responseText == "Failure")
                alert("Contraseña actual incorrecta!")
              else {
                alert("Contraseña actualizada")
              }
            }
          });
        }
        $('#passwordModal').closeModal();
      }
      var calendar = [];

      function formatSeconds(seconds) {
          var date = new Date(seconds*1000);
          var iso = date.toISOString().match(/(\d{4}\-\d{2}\-\d{2})T(\d{2}:\d{2}:\d{2})/)
          return iso[1] + "T" + iso[2];
      }
      var userId;
      $.get('/api/cuser', function(data) {
        var json = JSON.parse(data);
        data = json.data;
        userId = json.data[0].id;
        loadCalendarioAjax();
      });
      function loadCalendarioAjax() {

        $.get('/api/personalschedule/user/' + userId, function(actividads) {

          var json = JSON.parse(actividads);

          actividads = json.data;

          for(var i = 0; i < actividads.length; i++) {
            var eventId = json.data[i].id;
            var eventStart = json.data[i].start_date;
            var eventEnd = json.data[i].end_date;
            var eventTitle = json.data[i].name;
            var newEvent = {
              title : eventTitle,
              allDay : false,
              start: formatSeconds(eventStart),
              end: formatSeconds(eventEnd)
            };

            calendar[i] = newEvent;

            $('#calendar').fullCalendar('renderEvent', newEvent);

          }

          $('#calendar').fullCalendar({
            lang: 'es',

            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaWeek',
            events: calendar,
            eventClick: function(data, event, view) {
              var content = '<h3>'+data.title+'</h3>' +
                '<p><b>Start:</b> '+data.start+'<br />' +
                (data.end && '<p><b>End:</b> '+data.end+'</p>' || '');

              tooltip.set({
                'content.text': content
              })
              .reposition(event).show(event);
            }
            });
          });

      }
    </script>
  </body>
</html>
